/* general color */
$brand = #039be5

$brand-ascent = #039be5

$orange = #FFAF70

$green = #42d495

$blue = #039be5

$charcoal = #39312f

$dark-grey = #39312f

$mild-grey = #777777

$light-grey = #ADADAD

$grey-1 = #f4f4f4

$grey-2 = #e5e5e5

$grey-3 = #adadad

$grey-4 = #777777

$grey-5 = #393127

/* gradient */
$brand-gradient = linear-gradient($brand-ascent, $brand)
$brand-gradient-reverse = linear-gradient($brand, $brand-ascent)

/* background color */
$bg-color = #f9f9f9

/* border color */
$border-color = #e5e5e5

$dark-border-color = $light-grey

$border-color-hover = $light-grey

$error-color = $brand

$colors = {
  "brand": $brand,
  "blue": $blue,
  "green": $green,
  "orange": $orange,
  "charcoal": $charcoal,
  "light-grey": $light-grey,
  "grey": $mild-grey,
}
