$transition = 0.3s cubic-bezier(.25,.8,.50,1)
$font-family = 'Lato', sans-serif
$line-height-root = 1.556
$font-size-root = 16px

/*
  shadow and border
 */
$border-radius = 6px
$border-radius-lg = 10px

$shadow = 0 4px 20px -4px rgba(0,0,0,0.15)
$shadow-2 = 0 4px 20px -4px rgba(0,0,0,0.25)

$checkbox-size = 24px
$checkbox-size-lg = 40px

$dialog-size = 500px

/*
  breakpoint
 */
$screen-lg = 1200px
$screen-md = 900px
$screen-sm = 755px

