@import '../../stylus/settings.styl'

.vi-card
  display block
  position relative
  min-width 0
  border-radius $border-radius
  background white
  border 1px solid $border-color

  &__content
    width 100%
    padding 24px

    &--relax
      padding 32px
