td.year-icons {
  text-align: center;
  md-icon {
    margin: 0 10px;

  }

}

.academic-year-banner {
  background-image: url('/assets/images/banners/academic-year.jpg') !important;
}

.year-selected {
  background-color: rgba(178, 240, 249, 0.53) !important
}