<div
  class="doc-page material-docs ehla-blue-bg layout-docs doc-template page-layout simple tabbed fullwidth ng-scope layout-column"
  layout="column">

  <div ncy-breadcrumb></div>
  <!-- HEADER -->
  <div class="header md-accent-bg academic-year-banner" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
          <div class="h2">
            Academic Year
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.editYear($event)">
        <span>Add Academic Year</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->


  <div class="content">
    <!-- <div class="md-title mb-32">Zero Configuration</div> -->
    <div class="white-bg md-whiteframe-4dp">

      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Year</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Semester</span>
            </div>
          </th>

          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Current Semester</span>
            </div>
          </th>
          <th class="secondary-text" style="text-align: center">
            <div class="table-header">
              <span class="column-title">Actions</span>
            </div>
          </th>


        </tr>
        </thead>
        <tbody>
        <tr ng-if="loading">
          <td></td>
          <td style="text-align: center">Loading...</td>
          <td></td>
        </tr>
        <tr ng-repeat="year in vm.academicData" ng-click="vm.editYear($event, year)"
            ng-show="!loading"> <!-- ng-class="{ 'year-selected': year.current_sem }"-->
          <td>{{ year.display_name }}</td>
          <td>{{ year.semester }}</td>
          <td>
            <i flex class="icon s20 icon-check" ng-if="year.current_sem === 1"></i>
            <!-- <i flex class="icon s20 icon-close" ng-if="year.current_sem !== 1"></i> -->
          </td>
          <td class="year-icons" ng-click="$event.preventDefault(); $event.stopPropagation();">
            <md-icon md-font-icon="blue-600-fg icon-library-books"
                     ng-click="vm.viewWeakness($event, year)"
                     class="s18"></md-icon>

            <md-icon md-font-icon="red-600-fg icon-delete"
                     ng-click="vm.deleteYear($event, year)"
                     class="s18"></md-icon>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
