.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.text-ellipsis
  white-space: nowrap !important
  overflow: hidden !important
  text-overflow: ellipsis !important

.color-brand
  color $brand !important

.color-grey
  color $font-color-2 !important

.color-light-grey
  color $font-color-1 !important

.color-grey-2
  color $disable-bg-color !important

.text-bold
  font-weight bold !important

.text-align-center
  text-align center

.text-allcap
  text-transform: uppercase !important

.w-100
  width 100% !important

.fs-12
  font-size 12px !important

.fs-14
  font-size 14px !important

.fs-16
  font-size 16px !important

.top-1
  position relative !important
  top 1px !important

.bottom-1
  position relative !important
  bottom 1px !important

.left-1
  position relative !important
  left 1px !important

.right-1
  position relative !important
  right 1px !important
