// each component will import this file before compile
// the settings includes all the global variable and the mixin helper function
// p.s. the component-level variable are written right inside the {component}.styl file
@import './settings/mixins'
@import './settings/colors'
@import './settings/variables'
