<div class="md-background-bg md-whiteframe-1dp ehla-table-list-wrapper ehla-table-list-undragable" style="width:100%">
  <div ng-show="!vm.unassigned.data.length && loading" class="ehla-table-empty">Loading</div>
  <div ng-show="!vm.unassigned.data.length && !loading" class="ehla-table-empty">No Data</div>
  <table class="extra-learning-table">
    <tr ng-repeat="unassigned in vm.unassigned.data">
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </table>
</div>
</div>
