<div class="md-background-bg md-whiteframe-1dp ehla-table-list-wrapper ehla-table-list-undragable" style="width:100%">
    <div>
        <ul class="ehla-table-list ehla-table-list-header">
            <li style="width: 30%">
                <span>School Level</span>
            </li>
            <li style="width: 50%;">
                <span>EHLA Level</span>
            </li>
            <li style="width: 20%;">
                <span>Action</span>
            </li>
        </ul>
    </div>
    <div ng-show="!vm.levelData.length && loading" class="ehla-table-empty">Loading</div>
    <div ng-show="!vm.levelData.length && !loading" class="ehla-table-empty">No Data</div>
    <div ui-tree="treeOptions"
         ui-tree-nodes
         data-drag-enabled="false"
         ng-model="vm.levelData">
        <div ng-repeat="node in vm.levelData"
             ui-tree-node
             ng-include="'nodes_renderer'">
        </div>
    </div>
</div>
</div>
<script type="text/ng-template" id="nodes_renderer">
    <ul class="ehla-table-list" ui-tree-handle>
        <li style="width: 30%">
            <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                <md-input-container><input type="text" ng-model="node.name" /></md-input-container>
            </div>
        </li>
        <li style="width: 50%;" class="ehla-question-input">
            <md-select ng-model="node.ehlaLevels" placeholder="Select Levels" style="margin: 5px 10px 5px 0"
                       multiple>
                <md-optgroup label="Levels">
                    <md-option ng-value="level.id" ng-repeat="level in vm.levels">{{level.name}}</md-option>
                </md-optgroup>
            </md-select>
        </li>
        <li style="width: 20%;" >
            <md-icon md-font-icon="red-600-fg icon-delete"
                     ng-click="vm.deleteLevel($event, node)"
                     class="s18"></md-icon>
        </li>
    </ul>
</script>
