@import '../../stylus/settings.styl'
.vi-select
  position relative

  .vi-menu
    width 100%

    &__activator--active
        .vi-input__suffix
          .vi-icon
            transform rotate(180deg)
