@import '../../stylus/settings.styl'

.vi-date-picker-dialog.vi-menu__content
  padding 12px 10px

.vdp-datepicker__calendar
  border none !important

.vdp-datepicker__calendar
  width 310px !important
  border none !important

.vdp-datepicker__calendar .cell
  border-radius 50px !important

.vdp-datepicker__calendar .cell.selected
  background none !important

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover
  border 1px solid transparent !important
  background $disable-bg-color !important

.vdp-datepicker__calendar .cellhover
  background #f9f9f9 !important

// disable nav by year and month
.vdp-datepicker__calendar .up
  pointer-events none !important

// i.e. Dec 2017
.vdp-datepicker__calendar header span
  font-weight 400 !important

.vdp-datepicker__calendar .cell.highlighted
  background $brand !important
  color #fff

.vdp-datepicker__calendar .cell.day-header
  color $font-color-3 !important

.vdp-datepicker__calendar .cell
  font-weight 400 !important
  width 34px !important
  height 34px !important
  margin 3px 5px !important
  font-size 14px !important
  padding 8px !important
  line-height 1 !important
