<div>
	<div>
		<input class="ehla-input" type="text" ng-model="searchname" value="{{searchname}}"/>
	</div>
	<div>
		Level
		<div>content</div>
	</div>
	<div>
		Difficulty
		<div>content</div>
	</div>
	<div>
		Theme
		<div>content</div>
	</div>
	<div>
		Sub-Theme
		<div>content</div>
	</div>
	<div ng-show="">
		Vocabs
	</div>
	<div>
		Weakness
	</div>
	
	<div> Item Name</div>



    <input type="text" ng-model="name" value="{{name}}"/>
</div>
<div>
	<h3>Hello {{ name }}!</h3>
	in<input ng-model="name"/>
	<button ng-click="dial({message:name})">haha</button>
	in
</div>