/* colors */
$brand = #2992CD

$green = #42d495

$blue = #4279b3

$orange = #FFAF70

$dark-grey = #39312F

$colors = {
  "brand": $brand,
  "blue": $blue,
  "green": $green,
  "orange" : $orange
}

/* status color */
$error-color = $brand

$success-color = $green

$disable-bg-color = #e5e5e5

/* background color */
$bg-color-1 = #f4fbff

$bg-color-2 = #eff5f9

$bg-color-3 = #e5e5e5

$bg-color = $bg-color-2

/* border color */
$border-color-1 = #e5e5e5

$border-color-2 = #adadad

$border-color-3 = #777777

$border-color = $border-color-1

/* font color */
$font-color-0 = #adadad // placeholder or disabled text

$font-color-1 = #adadad // lightest font color

$font-color-2 = #777777 // lighter font color

$font-color-3 = #39312f // default font color

$font-color-4 = #39312f // darkest font color

$font-color = $font-color-3

/* other color */
$pale-yellow = #f1f1ce
