<div
        class="doc-page ehla-blue-bg material-docs layout-docs doc-template page-layout simple tabbed ng-scope layout-column"
        layout="column">

    <div ncy-breadcrumb></div>

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.detail['name_' + language]}}
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button ng-if="breadcrumbs.assignStatus === 'unassigned'" class="md-raised md-accent md-background"
                       ng-click="createAssignment()" ng-disabled="loading">
                <span>Publish</span>
            </md-button>
            <md-button ng-if="breadcrumbs.assignStatus === 'assigned'" class="md-raised md-warn md-background"
                       ng-click="createAssignment()" ng-disabled="loading">
                <span>Delete</span>
            </md-button>
            <md-button class="md-raised md-background" ng-click="vm.back()">
                <span>Back</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <div class="content exercise-content">

        <md-tabs md-dynamic-height>

            <md-tab label="Basic Info" md-on-select="vm.switchSection('info')">
                <md-tab-body>
                    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form class="md-inline-form">
                            <md-input-container class="md-block" ng-if="vm.detail['level_desc_' + language]">
                                <label>Level</label>
                                <input ng-model="vm.detail['level_desc_' + language]" readonly>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="vm.detail['difficulty_' + language]">
                                <label>Difficulty</label>
                                <input ng-model="vm.detail['difficulty_' + language]" readonly>
                            </md-input-container>


                            <md-input-container class="md-block" ng-if="vm.detail.theme_chosen">
                                <label>Theme</label>
                                <input ng-model="vm.detail.theme_chosen" readonly>
                            </md-input-container>

                            <md-input-container class="md-block" ng-if="vm.detail.article_ori">
                                <label>Article</label>
                                <textarea ng-model="vm.detail.article_ori" readonly rows="3"></textarea>
                            </md-input-container>
                        </form>

                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="{{translations.preview}}" md-on-select="vm.switchSection('preview')">
                <md-tab-body>
                    <div id="preview-dialog" class="exercise-detail-form-container md-background-bg md-whiteframe-1dp"
                         ng-bind-html="vm.trustSrc(vm.detail['preview_' + language] || vm.detail.preview)">
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="{{translations.exercise}}" md-on-select="vm.switchSection('exercise')">
                <md-tab-body>
                    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
                        <div>
                            <div>
                                <ul class="ehla-table-list ehla-table-list-header">
                                    <li style="width: 30%">
                                        <md-checkbox
                                                ng-checked="isAllCheckedExercise() === 2"
                                                md-indeterminate="isAllCheckedExercise() === 1"
                                                ng-click="toggleCheckAllExercise()">
                                        </md-checkbox>
                                        <a class="btn btn-xs"
                                           data-nodrag
                                           ng-click="toggleExpandAllExercise()">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': isAllExpandedExercise() !== 2,
                                          'icon-minus': isAllExpandedExercise() === 2
                                          }">
                                      </span>
                                        </a>
                                        <span>Name</span>
                                    </li>
                                    <li style="width: 15%">
                                        Starting Time
                                    </li>
                                    <li style="width: 15%">
                                        End Time
                                    </li>
                                    <li style="width: 10%;">
                                        Remark
                                    </li>
                                    <li style="width: 10%;">
                                        Language
                                    </li>
                                    <li style="width: 10%; text-align: center">
                                        Tutor
                                    </li>
                                    <li style="width: 10%; text-align: center">
                                        Preview
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="!vm.exerciseList.length && loading" class="ehla-table-empty">Loading</div>
                            <div ng-show="!vm.exerciseList.length && !loading" class="ehla-table-empty">No Data</div>
                            <div ui-tree="treeOptions" ng-if="vm.exerciseList.length"
                                 ui-tree-nodes
                                 data-drag-enabled="false"
                                 ng-model="vm.exerciseList">
                                <div ng-repeat="node in vm.exerciseList"
                                     ui-tree-node
                                     ng-hide="!node._visible_"
                                     ng-include="'exercise_list'">
                                </div>
                            </div>
                            <script type="text/ng-template" id="exercise_list">
                                <ul class="ehla-table-list" style="padding: 0"
                                    ng-class="[node._index_ % 2 === 0 ? 'ehla-table-list-even' : 'ehla-table-list-odd']">
                                    <li style="width: 30%">
                                        <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <md-checkbox ng-checked="node.checkStatus==='checked'"
                                                                     md-indeterminate="node.checkStatus==='partlyChecked'"
                                                                     ng-click="toggleCheckExercise(node)">
                                                        </md-checkbox>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-xs"
                                                           ng-if="node.child && node.child.length > 0"
                                                           data-nodrag
                                                           ng-click="toggleExpandExercise(node)">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': !expandedExercise[node.id],
                                          'icon-minus': expandedExercise[node.id]
                                          }">
                                      </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <span ng-bind-html="vm.trustSrc(vm.htmlToPlaintext(node['title_' + language]) ||
                                                        vm.htmlToPlaintext(node['title_txt_' + language]) || vm.htmlToPlaintext(node['title_img_' + language])
                                                        || node.name, true)">
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>

                                    <li style="width: 15%">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input mdc-datetime-picker="" date="true" time="true" type="text"
                                                   id="astarttime"
                                                   style="max-width: 90%;"
                                                   title="{{node.start_date | date : 'yyyy-MM-dd HH-mm'}}"
                                                   show-todays-date="" min-date="date" ng-change="vm.tutorialVideoStatsChange(node, 'start_date', '{{node.start_Date}}')"
                                                   ng-model="node.start_date" class="md-input" required="true"
                                                   readonly="readonly">
                                        </md-input-container>
                                    </li>
                                    <li style="width: 15%">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <input mdc-datetime-picker="" date="true" time="true" type="text"
                                                   id="aendtime"
                                                   style="max-width: 90%;"
                                                   title="{{node.end_date | date : 'yyyy-MM-dd HH-mm'}}"
                                                   show-todays-date="" min-date="date" ng-change="vm.tutorialVideoStatsChange(node, 'end_date', '{{node.end_Date}}')"
                                                   ng-model="node.end_date" class="md-input" required="true"
                                                   readonly="readonly">
                                        </md-input-container>
                                    </li>
                                    <li style="width: 10%">
                                        <md-input-container style="width: 100%;">
                                            <input type="text" ng-model="node.remark" ng-change="vm.tutorialVideoStatsChange(node, 'remark', '{{node.remark}}')" style="width: 90%;">
                                        </md-input-container>
                                    </li>
                                    <li style="width: 10%">
                                        {{vm.displayLanguage(node.teaching_lang_type)}}
                                    </li>
                                    <li style="width: 10%; text-align: center; position: relative"
                                        ng-style="{'background-color': node.isShowTutor ? 'background-color: rgb(2,136,209);' : 'auto'}">
                                        <div ng-if="node.tutor.name_en || node.tutor.name_zh">
                                            <a style="cursor: pointer" ng-click="vm.showTutor(node)"
                                               ng-style="{'color': node.isShowTutor ? 'white' : 'auto'}">
                                                <span>Tutors</span>
                                            </a>
                                        </div>
                                        <div ng-if="!node.tutor.name_en && !node.tutor.name_zh">
                                            -
                                        </div>
                                    </li>
                                    <li style="width: 10%; text-align: center;"
                                        ng-style="{'background-color': node.isPreview ? 'background-color: rgb(2,136,209);' : 'auto'}">
                                        <a style="cursor: pointer" ng-click="vm.preview(node)" ng-if="node.video_id"
                                           ng-style="{'color': node.isPreview ? 'white' : 'auto'}">
                                            <span>Preview</span>
                                        </a>
                                        <span ng-if="!node.video_id">
                                            -
                                        </span>
                                    </li>
                                </ul>
                                <ul class="ehla-table-list info-section" style="padding: 0"
                                    ng-show="node.isShowTutor">
                                    <li style="width: 100%; position: relative"
                                        ng-repeat="tutor in node.tutors">
                                        <div layout="row" style="padding: 10px 0;">
                                            <div><img class="tutor-pic" ng-src="{{tutor.profile_pic_path}}"
                                                      style="height: 200px;">
                                            </div>
                                            <div flex class="tutor-desc">
                                                <h2 style="text-align: center">
                                                    {{tutor['name_' + language]}}
                                                </h2>
                                                <h3 ng-if="tutor.title_en || tutor.title_zh">
                                                    test
                                                    {{tutor['title_' + language]}}
                                                </h3>
                                                <div style="padding: 0 30px" ng-if="!tutor.isMore">
                                                    {{tutor['short_description_' + language]}}
                                                </div>
                                                <div style="padding: 0 30px" ng-if="tutor.isMore"
                                                     ng-bind-html="vm.trustSrc(tutor['description_' + language])">
                                                </div>
                                                <div style="text-align: right; margin:20px">
                                                    <a style="cursor: pointer"
                                                       ng-click="tutor.isMore = !tutor.isMore">
                                                        <!-- icon-magnify-plus-->
                                                        <md-icon ng-show="!tutor.isMore"
                                                                 style="color: white !important"
                                                                 md-font-icon="icon-magnify-plus"
                                                                 class="icon s18 md-default-theme md-font material-icons"
                                                                 aria-hidden="true"></md-icon>
                                                        <md-icon ng-show="tutor.isMore"
                                                                 style="color: white !important"
                                                                 md-font-icon="icon-magnify-minus"
                                                                 class="icon s18 md-default-theme md-font material-icons"
                                                                 aria-hidden="true"></md-icon>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="ehla-table-list info-section" style="padding: 0"
                                    ng-show="node.isPreview">
                                    <li style="width: 100%; position: relative">
                                        <div id="video{{node.id}}" style="width: 100%; padding: 10px"></div>
                                    </li>
                                </ul>
                                <div ng-if="node.child && node.child.length > 0 && expandedExercise.hasOwnProperty(node.id)"
                                     ng-show="expandedExercise[node.id]"
                                     ui-tree-nodes=""
                                     ng-model="node.child"
                                     style="background: white; "
                                >
                                    <div ng-repeat="node in node.child"
                                         ui-tree-node
                                         ng-hide="!node._visible_"
                                         ng-include="'exercise_list'"></div>
                                </div>

                            </script>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="Keywords" md-on-select="vm.switchSection('keywords')"
                    ng-if="breadcrumbs.learningType === 'writing'">
                <md-tab-body>
                    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp"
                         ng-bind-html="vm.trustSrc(vm.detail['keyword_' + language] || vm.detail.keyword)">
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="Extended Learning" md-on-select="vm.switchSection('extended')">
                <md-tab-body>
                    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
                        <md-accordion locked="true">
                            <md-accordion-group>
                                <md-accordion-content ng-repeat="learning in vm.extendedLearning"
                                                      md-heading="{{learning['name_' + language]}}" md-arrow="true">
                                    <div style="padding: 20px; text-align: center"
                                         ng-if="!learning.detail || !learning.detail.length">
                                        No data is available
                                    </div>
                                    <div style="padding: 20px;" ng-if="learning.detail && learning.detail.length">
                                        <div>
                                            <ul class="ehla-table-list ehla-table-list-header">
                                                <li style="width: 30%">
                                                    <md-checkbox
                                                            ng-checked="isAllChecked[$index]() === 2"
                                                            md-indeterminate="isAllChecked[$index]() === 1"
                                                            ng-click="toggleCheckAll[$index]()">
                                                    </md-checkbox>
                                                    <a class="btn btn-xs"
                                                       data-nodrag
                                                       ng-click="toggleExpandAll[$index]()">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': isAllExpanded[$index]() !== 2,
                                          'icon-minus': isAllExpanded[$index]() === 2
                                          }">
                                      </span>
                                                    </a>
                                                    <span>Video</span>
                                                </li>
                                                <li style="width: 15%;">Starting Time</li>
                                                <li style="width: 15%;">End Time</li>
                                                <li style="width: 10%;">Language</li>
                                                <li style="width: 10%;">Remark</li>
                                                <li style="width: 10%;text-align: center;">Tutor</li>
                                                <li style="width: 10%;text-align: center;">
                                                    Preview
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-show="!learning.detail.length && loading" class="ehla-table-empty">Loading</div>
                                        <div ng-show="!learning.detail.length && !loading" class="ehla-table-empty">No Data</div>
                                        <div ui-tree="treeOptions" ng-if="learning.detail.length"
                                             ui-tree-nodes
                                             data-drag-enabled="false"
                                             ng-model="learning.detail">
                                            <div ng-repeat="node in learning.detail"
                                                 ui-tree-node
                                                 ng-hide="!node._visible_"
                                                 ng-include="'extended_learning'">
                                            </div>
                                        </div>

                                        <script type="text/ng-template" id="extended_learning">
                                            <ul class="ehla-table-list" style="padding: 0"
                                                ng-class="[node._index_ % 2 === 0 ? 'ehla-table-list-even' : 'ehla-table-list-odd']">
                                                <li style="width: 30%">
                                                    <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <md-checkbox ng-checked="node.checkStatus==='checked'"
                                                                                 md-indeterminate="node.checkStatus==='partlyChecked'"
                                                                                 ng-click="toggleCheck[$index](node)">
                                                                    </md-checkbox>
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-xs"
                                                                       ng-if="node.child && node.child.length > 0"
                                                                       data-nodrag
                                                                       ng-click="toggleExpand[$index](node)">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': !expanded[$index][node.id],
                                          'icon-minus': expanded[$index][node.id]
                                          }">
                                      </span>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <span>{{node['name_' + language]}}</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </li>

                                                <li style="width: 15%">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <input mdc-datetime-picker="" date="true" time="true" type="text"
                                                               id="estarttime"
                                                               style="max-width: 90%;"
                                                               title="{{node.start_date | date : 'yyyy-MM-dd HH-mm'}}"
                                                               show-todays-date="" min-date="date" ng-change="vm.tutorialVideoStatsChange(node, 'start_date', '{{node.start_Date}}')"
                                                               ng-model="node.start_date" class="md-input" required="true"
                                                               readonly="readonly">
                                                    </md-input-container>
                                                </li>
                                                <li style="width: 15%">
                                                    <md-input-container class="md-block" flex-gt-sm>
                                                        <input mdc-datetime-picker="" date="true" time="true" type="text"
                                                               id="eendtime"
                                                               style="max-width: 90%;"
                                                               title="{{node.end_date | date : 'yyyy-MM-dd HH-mm'}}"
                                                               show-todays-date="" min-date="date" ng-change="vm.tutorialVideoStatsChange(node, 'end_date', '{{node.end_Date}}')"
                                                               ng-model="node.end_date" class="md-input" required="true"
                                                               readonly="readonly">
                                                    </md-input-container>
                                                </li>
                                                <li style="width: 10%">
                                                    {{vm.displayLanguage(node.teaching_lang_type)}}
                                                </li>
                                                <li style="width: 10%">
                                                    <md-input-container style="width: 100%;">
                                                        <input type="text" ng-model="node.remark" ng-change="vm.tutorialVideoStatsChange(node, 'remark', '{{node.remark}}')" style="width: 90%;">
                                                    </md-input-container>
                                                </li>
                                                <li style="width: 10%; text-align: center; position: relative"
                                                    ng-style="{'background-color': node.isShowTutor ? 'background-color: rgb(2,136,209);' : 'auto'}">
                                                    <div ng-if="node.tutor.name_en || node.tutor.name_zh">
                                                        <a style="cursor: pointer" ng-click="vm.showTutor(node)"
                                                           ng-style="{'color': node.isShowTutor ? 'white' : 'auto'}">
                                                            <span>Tutors</span>
                                                        </a>
                                                    </div>
                                                    <div ng-if="!node.tutor.name_en && !node.tutor.name_zh">
                                                        -
                                                    </div>
                                                </li>
                                                <li style="width: 10%; text-align: center;"
                                                    ng-style="{'background-color': node.isPreview ? 'background-color: rgb(2,136,209);' : 'auto'}">
                                                    <a style="cursor: pointer" ng-click="vm.preview(node)" ng-if="node.video_id"
                                                       ng-style="{'color': node.isPreview ? 'white' : 'auto'}">
                                                        <span>Preview</span>
                                                    </a>
                                                    <span ng-if="!node.video_id">
                                            -
                                        </span>
                                                </li>
                                            </ul>
                                            <ul class="ehla-table-list info-section" style="padding: 0"
                                                ng-show="node.isShowTutor">
                                                <li style="width: 100%; position: relative"
                                                    ng-repeat="tutor in node.tutors">
                                                    <div layout="row" style="padding: 10px 0;">
                                                        <div><img class="tutor-pic" ng-src="{{tutor.profile_pic_path}}"
                                                                  style="height: 200px;">
                                                        </div>
                                                        <div flex class="tutor-desc">
                                                            <h2 style="text-align: center">
                                                                {{tutor['name_' + language]}}
                                                            </h2>
                                                            <h3 ng-if="tutor.title_en || tutor.title_zh">
                                                                test
                                                                {{tutor['title_' + language]}}
                                                            </h3>
                                                            <div style="padding: 0 30px" ng-if="!tutor.isMore">
                                                                {{tutor['short_description_' + language]}}
                                                            </div>
                                                            <div style="padding: 0 30px" ng-if="tutor.isMore"
                                                                 ng-bind-html="vm.trustSrc(tutor['description_' + language])">
                                                            </div>
                                                            <div style="text-align: right; margin:20px">
                                                                <a style="cursor: pointer"
                                                                   ng-click="tutor.isMore = !tutor.isMore">
                                                                    <!-- icon-magnify-plus-->
                                                                    <md-icon ng-show="!tutor.isMore"
                                                                             style="color: white !important"
                                                                             md-font-icon="icon-magnify-plus"
                                                                             class="icon s18 md-default-theme md-font material-icons"
                                                                             aria-hidden="true"></md-icon>
                                                                    <md-icon ng-show="tutor.isMore"
                                                                             style="color: white !important"
                                                                             md-font-icon="icon-magnify-minus"
                                                                             class="icon s18 md-default-theme md-font material-icons"
                                                                             aria-hidden="true"></md-icon>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="ehla-table-list info-section" style="padding: 0"
                                                ng-show="node.isPreview">
                                                <li style="width: 100%; position: relative">
                                                    <div id="video{{node.id}}" style="width: 100%; padding: 10px"></div>
                                                </li>
                                            </ul>
                                            <div ng-if="node.child && node.child.length > 0 && expanded[$index].hasOwnProperty(node.id)"
                                                 ng-show="expanded[$index][node.id]"
                                                 ui-tree-nodes=""
                                                 ng-model="node.child"
                                                 style="background: white; "
                                            >
                                                <div ng-repeat="node in node.child"
                                                     ui-tree-node
                                                     ng-hide="!node._visible_"
                                                     ng-include="'extended_learning'"></div>
                                            </div>

                                        </script>
                                    </div>

                                </md-accordion-content>
                            </md-accordion-group>
                        </md-accordion>

                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab label="Consolidated Report" md-on-select="vm.switchSection('consolidated-report')">
                <md-tab-body>
                    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
                        <div>
                            <ul class="ehla-table-list ehla-table-list-header" style="border:none">
                                <li style="width: 20%; border-bottom: none">
                                    <span style="padding-left: 25px"></span>
                                </li>
                                <li style="width: 40%; text-align: center; border-top: 2px solid red;">
                                    Accumulated Error Record in Terms of Students
                                </li>
                                <li style="width: 10%; text-align: center; border-bottom: none">
                                </li>
                                <li style="width: 10%; text-align: center; border-bottom: none"></li>
                                <li style="width: 10%; text-align: center; border-bottom: none"></li>
                                <li style="width: 10%; text-align: center; border-bottom: none"></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="ehla-table-list ehla-table-list-header">
                                <li style="width: 20%">
                                    <a class="btn btn-xs"
                                       data-nodrag
                                       ng-click="toggleExpandAllReport()">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': isAllExpandedReport() !== 2,
                                          'icon-minus': isAllExpandedReport() === 2
                                          }">
                                      </span>
                                    </a>
                                    <span>Learning Point</span>
                                </li>
                                <li style="width: 8%; text-align: center; border-bottom: 2px solid red">
                                    100% Error
                                </li>
                                <li style="width: 8%; text-align: center; border-bottom: 2px solid red">
                                    ≥75% Error
                                </li>
                                <li style="width: 8%; text-align: center; border-bottom: 2px solid red">
                                    ≥50% Error
                                </li>
                                <li style="width: 8%; text-align: center; border-bottom: 2px solid red">
                                    ≥25% Error
                                </li>
                                <li style="width: 8%; text-align: center; border-bottom: 2px solid red">
                                    >0% (0%) Error
                                </li>
                                <li style="width: 10%; text-align: center">
                                    <div style="line-height: 1.8">Historical Error</div>
                                    <div style="line-height: 1.8">Record by Student</div>
                                </li>
                                <li style="width: 10%; text-align: center">
                                    <div style="line-height: 1.8">Latest Batch Error</div>
                                    <div style="line-height: 1.8">Record by Frequency</div>
                                </li>
                                <li style="width: 10%; text-align: center">
                                    <div style="line-height: 1.8">Historical Error</div>
                                    <div style="line-height: 1.8">Record by Frequency</div>
                                </li>
                                <li style="width: 10%; text-align: center">
                                    <div style="line-height: 1.8">View by</div>
                                    <div style="line-height: 1.8">Individual Student</div>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="!vm.data.length && loading" class="ehla-table-empty">Loading</div>
                        <div ng-show="!vm.data.length && !loading" class="ehla-table-empty">No Data</div>
                        <div ui-tree="treeOptions" ng-if="vm.data.length"
                             ui-tree-nodes
                             data-drag-enabled="false"
                             ng-model="vm.data">
                            <div ng-repeat="node in vm.data"
                                 ui-tree-node
                                 ng-hide="!node._visible_"
                                 ng-include="'nodes_renderer'">
                            </div>
                        </div>
                    </div>

                    <script type="text/ng-template" id="nodes_renderer">
                        <ul class="ehla-table-list"
                            ng-class="[node._index_ % 2 === 0 ? 'ehla-table-list-even' : 'ehla-table-list-odd']">
                            <li style="width: 20%">
                                <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-xs" ng-if="node.child && node.child.length > 0"
                                                   data-nodrag
                                                   ng-click="toggleExpandReport(node)">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': !expandedReport[node.id],
                                          'icon-minus': expandedReport[node.id]
                                          }">
                                      </span>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-xs ng-scope" style="visibility: hidden"
                                                   ng-if="!node.child || !node.child.length">
                                            <span class="icon icon-plus">
                                      </span></a>
                                            </td>
                                            <td>
                                                <span>{{ node['name_' + language] }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>

                            <li style="width: 8%; text-align: center;">
                                <span ng-if="!node.child.length">{{node.studentErrorDistributions[100]}}</span>

                            </li>
                            <li style="width: 8%; text-align: center;">
                                <span ng-if="!node.child.length">{{node.studentErrorDistributions[75]}}</span>

                            </li>
                            <li style="width: 8%; text-align: center;">
                                <span ng-if="!node.child.length">{{node.studentErrorDistributions[50]}}</span>

                            </li>
                            <li style="width: 8%; text-align: center;">
                                <span ng-if="!node.child.length">{{node.studentErrorDistributions[25]}}</span>

                            </li>
                            <li style="width: 8%; text-align: center;">
            <span ng-if="!node.child.length">
                {{node.studentErrorDistributions[1]}} ({{node.studentErrorDistributions[0]}})
            </span>

                            </li>

                            <li style="width: 10%; text-align: center;">
                                <div ng-if="!node.child.length">
                                    <md-icon md-font-icon="icon-chart-bar"
                                             ng-click="vm.showGraph($event, node, node.history, 'student')"
                                             class="icon s18 md-default-theme md-font material-icons"
                                             aria-hidden="true"></md-icon>
                                </div>
                            </li>

                            <li style="width: 10%; text-align: center;">
                                <div ng-if="!node.child.length">
                <span>
                <span style="color:red">{{ node.latest.total - node.latest.correct || '-' }}</span>/<span>{{ node.latest.total || '-' }}</span>
                </span>
                                </div>

                            </li>
                            <li style="width: 10%; text-align: center;">
                                <div ng-if="!node.child.length">
                <span>
                <span style="color:red">{{ node.total - node.correct || '-' }}</span>/<span>{{ node.total || '-' }}</span>
            </span>
                                    <md-icon md-font-icon="icon-chart-bar"
                                             ng-click="vm.showGraph($event, node, node.history)"
                                             class="icon s18 md-default-theme md-font material-icons"
                                             aria-hidden="true"></md-icon>

                                </div>
                            </li>
                            <li style="width: 10%; text-align: center">
                                <div ng-if="!node.child.length">
                                    <md-icon md-font-icon="icon-people" ng-click="vm.viewStudents(node)"
                                             class="icon s18 md-default-theme md-font material-icons"
                                             aria-hidden="true"></md-icon>
                                </div>
                            </li>
                        </ul>
                        <div ng-if="node.child && node.child.length > 0 && expandedReport.hasOwnProperty(node.id)"
                             ng-show="expandedReport[node.id]"
                             ui-tree-nodes=""
                             ng-model="node.child"
                             style="background: white; "
                        >
                            <div ng-repeat="node in node.child"
                                 ui-tree-node
                                 ng-hide="!node._visible_"
                                 ng-include="'nodes_renderer'"></div>
                        </div>

                    </script>

                </md-tab-body>
            </md-tab>

            <md-tab label="Teaching Support" md-on-select="vm.switchSection('teaching-support')">
                <md-tab-body>
                    <div id="teaching-support-dialog"
                         class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
                        <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                            <thead>
                            <tr>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Document</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Preview</span>
                                    </div>
                                </th>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <span class="column-title">Download</span>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="loading">
                                <td></td>
                                <td style="text-align: center">Loading...</td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="document in vm.documents" ng-show="!loading">
                                <td>{{ document.name }}</td>
                                <td>
                                    <a href="{{document.preview}}" target="_blank">
                                        <md-icon md-font-icon="icon-magnify"
                                                 class="icon s16 md-default-theme md-font material-icons"
                                                 aria-hidden="true"></md-icon>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{document.download}}">
                                        <md-icon md-font-icon="icon-download"
                                                 class="icon s16 md-default-theme md-font material-icons"
                                                 aria-hidden="true"></md-icon>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>

</div>
</div>
