/* colors */
$brand := #f1bc1a

$green := #14CCA0

$blue := #009CFF

$red := #F12D2D

$colors := {
  "brand": $brand,
  "blue": $blue,
  "green": $green,
  "red" : $red
}

/* status color */
$error-color := $red

$success-color := $green

$disable-bg-color := #e5e5e5

/* background color */
$bg-color-1 := #fff9f0 // used in large area background

$bg-color-2 := #fff6e8 // used in element background

$bg-color-3 := #fff6e8 // used in element background hover

$bg-color := $bg-color-2

/* border color */
$border-color-1 := #e2cfad // the default border color - i.e. input border

$border-color-2 := #f5c477 // i.e. focus border color, i.e. darker input border color

$border-color-3 := #ffa415 // i.e. focused darker input border color

$border-color := $border-color-1

/* font color */
$font-color-0 := #cab491 // placeholder or disabled text

$font-color-1 := #ab997d // lightest font color

$font-color-2 := #907b59 // lighter font color

$font-color-3 := #7b6848 // default font color

$font-color-4 := #544937 // darkest font color

$font-color := $font-color-3

/* shadow color */
$shadow-color := rgba(241,188,28,0.2)
