<div
    class="doc-page material-docs ehla-blue-bg layout-docs doc-template page-layout simple tabbed fullwidth ng-scope layout-column"
    layout="column">

  <div ncy-breadcrumb></div>
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
          <div class="h2">
            {{title}} User {{ action === 'edit' ? ' - ' + user.username : '' }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-accent md-background" ng-click="saveUser()" ng-disabled="loading">
        <span ng-if="action === 'create'">Create</span>
        <span ng-if="action === 'edit'">Save</span>
      </md-button>
      <md-button class="md-raised md-background" ng-click="back()">
        <span>Cancel</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->


  <div class="content exercise-content user-detail-form">
    <!-- <div class="md-title mb-32">Zero Configuration</div> -->
    <div class="exercise-detail-form-container md-background-bg md-whiteframe-1dp">
      <form class="md-inline-form" name="userForm">
        <div layout="row">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Username</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-input-container>
              <input ng-model="user.username" required="true">
            </md-input-container>
          </div>
        </div>


        <div layout="row">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Email</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-input-container>
              <input ng-model="user.email" required="true">
            </md-input-container>
          </div>
        </div>

        <div layout="row">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Password</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-input-container>
              <input type="password" ng-model="user.password" required="true">
            </md-input-container>
          </div>
        </div>

        <div layout="row">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Confirm Password</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-input-container>
              <input type="password" ng-model="user.confirmPassword" required="true">
            </md-input-container>
          </div>
        </div>

        <div layout="row">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Roles</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-input-container>
              <md-select ng-model="user.roles[0].id" required
                         ng-disabled="!isOfRoles(['Teacher', 'Principal', 'Vice Principal', 'Panel Chair'])"
                         class="normal" placeholder="Roles">
                <md-optgroup label="Roles">
                  <md-option
                      ng-disabled="role.name === 'Principal' ||
                      (isOfRoles(['Vice Principal', 'Panel Chair', 'Teacher']) && role.name === 'Vice Principal') ||
                      (isOfRoles(['Panel Chair', 'Teacher']) && role.name === 'Panel Chair') ||
                      (isOfRoles(['Teacher']) && role.name === 'Teacher') ||
                      (role.name === 'Student' && action === 'edit')"
                      ng-repeat="role in roles" value="{{role.id}}">
                    {{role.name}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
        </div>

        <div layout="row" ng-if="user.roles[0].id">
          <div layout="column" flex="20">
            <md-input-container>
              <label>{{ isRole('Student') ? 'Class' : 'Teaching'}}</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <table>
              <tr>
                <th><span ng-if="!isRole('Student')">Class</span></th>
                <th ng-if="!isRole('Student')">Subject</th>
                <!-- <th ng-if="isRole('Student')">Teacher</th> -->
                <th ng-if="!isRole('Student')"></th>
              </tr>
              <tr ng-repeat="c in user.class_subject">
                <td>
                  <md-autocomplete
                      ng-style="{outline: !c.class ? '1px solid red' : ''}"
                      md-input-name="autocompleteClass"
                      md-input-minlength="1"
                      md-input-maxlength="18"
                      md-selected-item="c.class"
                      md-search-text="c.searchClassName"
                      md-items="item in searchTextItems(c.searchClassName, classes)"
                      md-item-text="item.c_name"
                      md-require-match>
                    <md-item-template>
                      <span md-highlight-text="c.class" md-highlight-flags="gi">{{item.c_name}}</span>
                    </md-item-template>
                    <div ng-messages="userForm.autocompleteClass.$error">
                      <div ng-message="required">Class is required</div>
                      <div ng-message="md-require-match">Existing class only</div>
                    </div>
                  </md-autocomplete>
                </td>
                <td ng-if="!isRole('Student')">
                  <md-autocomplete
                      md-input-name="autocompleteSubject"
                      ng-style="{outline: !c.subject ? '1px solid red' : ''}"
                      md-input-minlength="1"
                      md-input-maxlength="18"
                      md-selected-item="c.subject"
                      md-search-text="c.searchSubject"
                      md-items="item in searchTextItems(c.searchSubject, subjects)"
                      md-item-text="item.s_name_en"
                      md-require-match>
                    <md-item-template>
                      <span md-highlight-text="c.subject" md-highlight-flags="gi">{{item['s_name_' + language]}}</span>
                    </md-item-template>
                  </md-autocomplete>
                </td>
                <!--
                <td ng-if="isRole('Student')">
                  <md-autocomplete
                    md-input-name="autocompleteUser"
                    ng-style="{outline: !c.teacher ? '1px solid red' : ''}"
                    md-input-minlength="1"
                    md-input-maxlength="18"
                    md-selected-item="c.teacher"
                    md-search-text="c.searchTeacher"
                    md-items="item in searchTextItems(c.searchTeacher, teachers)"
                    md-item-text="item.username"
                    md-require-match>
                    <md-item-template>
                      <span md-highlight-text="c.teacher" md-highlight-flags="gi">{{item.username}}</span>
                    </md-item-template>
                  </md-autocomplete>
                </td>
                -->
                <td ng-if="!isRole('Student')">
                  <md-icon md-font-icon="red-600-fg icon-delete" style="padding: 0 10px; cursor: pointer"
                           ng-click="deleteClass($event, c)"
                           class="s22"></md-icon>
                </td>
              </tr>
            </table>
            <div>
              <md-button class="md-raised md-accent md-background" ng-click="addClass()" ng-if="!isRole('Student')">
                <span>Add</span>
              </md-button>
            </div>
          </div>
        </div>

        <!--
        <div layout="row" ng-if="action === 'edit'">
          <div layout="column" flex="20">
            <md-input-container>
              <label>Status</label>
            </md-input-container>
          </div>
          <div layout="column" flex="80">
            <md-switch ng-model="user.status" ng-true-value="0">
            </md-switch>
          </div>
        </div>
        -->
      </form>
    </div>
  </div>
</div>
