<md-dialog id="preview-dialog" class="video-dialog no-padding-margin" aria-label="New Task">
    <form name="taskForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.node['name_' + language]}} -> Preview</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div ng-bind-html="vm.trustSrc(vm.item[0]['preview_' + language] || vm.item[0].preview)"></div>

        </md-dialog-content>

        <md-dialog-actions>
            <div layout="row" layout-align="end center" style="width: 100%">
                <div>
                    <md-button type="submit" ng-click="vm.cancel()"
                               class="send-button md-raised"
                               aria-label="Cancel">
                        Cancel
                    </md-button>
                </div>
            </div>

        </md-dialog-actions>
    </form>
</md-dialog>
