<div class="header layout-align-space-between-stretch layout-row" layout="row"
     layout-align="space-between" style="background: none;
    min-height: 0;
    max-height: 70px;
    padding-bottom: 0;">
  <div layout="column" layout-align="center start" class="layout-align-center-start layout-column">
    <div class="breadcrumb layout-align-start-center layout-row" layout="row" layout-align="start center">
      <md-icon md-font-icon="icon-home" class="s16 md-default-theme md-font material-icons icon-home"></md-icon>
      <md-icon md-font-icon="icon-chevron-right"
               class="s16 separator md-default-theme md-font material-icons icon-chevron-right"
               aria-hidden="true"></md-icon>
      <!-- <span class="parent ng-binding">
  ANGULAR MATERIAL THEMING</span></div><div class="title ng-binding">Introduction and Terms</div> -->
      <span ng-repeat="step in steps | limitTo:(steps.length-1)">
    <md-button ng-href="{{step.ncyBreadcrumbLink}}" class="step-btn-link" ng-disabled="!!step.abstract">
      {{step.ncyBreadcrumbLabel}}
    </md-button>
    <span class="seperator">/</span>
  </span>
      <span>
    <md-button ng-repeat="step in steps | limitTo:-1" ng-disabled="true" class="step-btn-link">
      {{step.ncyBreadcrumbLabel}}
    </md-button>
  </span>
    </div>

    <!-- <div class="title">{{steps[steps.length - 1].ncyBreadcrumbLabel}}</div> -->
  </div>
</div>
