@import '../../stylus/settings.styl'

.vi-drawer
  max-width: 100%
  overflow-y: auto
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  padding: 0 0 100px
  pointer-events: auto
  position: fixed
  transition: .3s $transition
  width: 300px
  top: 0
  left: 0
  bottom 0
  will-change: transform
  z-index: 5
  background white
