<div
  class="doc-page material-docs ehla-blue-bg layout-docs doc-template page-layout simple tabbed fullwidth ng-scope layout-column"
  layout="column">

  <div ncy-breadcrumb></div>
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
          <div class="h2">
            Video Name - Progress Overview
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-background" ng-click="vm.back()">
        <span>Back</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->


  <div class="content videos-content">
    <!-- <div class="md-title mb-32">Zero Configuration</div> -->
    <div class="white-bg md-whiteframe-4dp">
      <h3 ng-show="loading" class="datatable-loading">Loading...</h3>
      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions" ng-show="!loading">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Student</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Learning Date</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Progress (Minutes)</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Action</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in ::vm.students">
          <td>{{ student.name }}</td>
          <td>{{ student.lastViewingTime | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
          <td>
            <div style="position: relative; width: 100%; height: 100%;" ng-init="vm.randomVideoProgress(student)">
              <span>&nbsp;</span>
              <div style="position: absolute; color: white; top: 0; z-index: 200; left: 5px;">
                {{student.totalCompleted}}/{{student.total}} ({{student.progressPercentage}}%)
              </div>
              <md-progress-linear class="ehla-progress" md-mode="determinate" value="{{student.progressPercentage}}" style="top: -3px">
              </md-progress-linear>
            </div>
          </td>
          <td >
            <md-button class="md-raised md-warn" style="margin: 0">Remind</md-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
