@import '../../stylus/settings.styl'

.v-tooltip
  position: relative

  &__content
    z-index 10
    background: white
    border 1px solid $border-color
    border-radius: $border-radius
    font-size: 12px
    display: inline-block
    padding: 10px 20px
    position: absolute
    text-transform: initial
    // transition: .15s $transition
    width: auto
    box-shadow $box-shadow

    &[class*="-active"] {
      pointer-events: none
    }
