<div class="doc-page ehla-blue-bg material-docs layout-docs doc-template page-layout simple tabbed ng-scope layout-column" layout="column">

    <div ncy-breadcrumb></div>

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
			<div class="white-fg" layout="row" layout-align="start center" flex>
				<div layout="row" layout-align="start center">
					<div layout="column" layout-align="start start">
						<div class="h2">
							<!--{{catGrouper}}-->
						</div>
					</div>
				</div>
			</div>

			<div>
				<md-button class="md-raised md-background" ng-click="back()">
					<span>Back</span>
				</md-button>
			</div>
    </div>
    <!-- / HEADER -->
    <div class="content exercise-content" id="top">

			<md-tabs md-dynamic-height>
				<md-tab ng-repeat="tab in tabs" 
								label="{{tab['label_' + language]}}" 
								md-on-select="switchSection(tab.tab)" 
								md-active="section === tab.tab">
								
					<div class="loading-screen" ng-show="isShowLoading">
						<div style="position: absolute; top: 50%; left: 50%;">
							<md-progress-circular id="toolbar-progress" class="md-accent"
																		md-mode="indeterminate" md-diameter="96">
							</md-progress-circular>
						</div>
					</div>
					<div ng-if="tab.tab == 1">
						<md-tab-body>
							<itemlist 
								tab="tab" 
								tabs="tabs" 
								cat-grouper="catGrouper" 
								chosen-item-qtt="chosenItemQtt" 
								set-fn="setDirectiveTabOneFn(theDirFn)"></itemlist>						
						</md-tab-body>
					</div>
								
					<div ng-if="tab.tab == 2">
						<md-tab-body>
							<itemlevellist 
								tab="tab" 
								tabs="tabs" 
								cat-grouper="catGrouper" 
								chosen-item-qtt="chosenItemQtt" 
								valid-levels="validLevels" 
								total-item-qtt="totalItemQtt" 
								level-item-qtt="levelItemQtt" 
								set-fn="setDirectiveTabTwoFn(theDirFn)"></itemlevellist>
						</md-tab-body>
					</div>
				</md-tab>
			</md-tabs>
    </div>
</div>
