.resp-display-tag {display:none;}

@media only screen and (max-width: 1000px) {
		.resp-hidden-tag {display:none;}
		.resp-display-tag {display:block;}
}


.chosen-btn-clicked {color:red;}
.chosen-btn {color:black;}
.btn {width:200px;text-align:left}
.btn-large {box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26); color:#a7603a;margin:6px 8px; padding:6px 8px; background-color:#ffffff;}