@import '../../stylus/settings.styl'

.vi-expansion-panel:not(.vi-expansion-panel--minimal)
  border-radius $border-radius
  border 1px solid transparent
  margin-bottom 8px

  &:hover
    border 1px solid $border-color

  .vi-expansion-panel__header
    cursor pointer
    display flex
    align-items center
    padding 10px 16px
    font-size 20px
    border-radius inherit
    border-bottom-left-radius 0
    border-bottom-right-radius 0

    >:not(.header-icon)
      flex 1

    >.header-icon
      margin-left 10px

    &:hover
      background $bg-color

  .vi-expansion-panel__body
    padding 10px 16px

  &.vi-expansion-panel--active
    border 1px solid $border-color

    .vi-expansion-panel__header
      background $bg-color
      border-bottom 1px solid $border-color
