@import '../main.styl'

.vi-chip
  display inline-flex
  background #e9f7ff
  color $mild-grey
  line-height 1
  font-size 14px
  min-height 28px
  align-items center
  padding 0 8px
  border-radius $border-radius
  position relative
  font-weight normal

  &--select-multi
    margin-right 4px

  .vi-avatar
    width 20px !important
    height 20px !important
    margin-right 4px

    img
      border none !important

  &__content
    display flex
    align-items center

  &__prepend
    height inherit
    padding-right 20px
    position relative
    display inline-flex
    align-items center

    &:before
      position absolute
      content ''
      top 0
      bottom 0
      right 10px
      width 1px
      background white

  &--error
    background none
    border 1px solid $brand

  &--removable
    padding-right 28px

  &__clear
    position absolute
    right 6px
    top 9px
    bottom 0
    width 10px
    height 10px
    color $light-grey
    cursor pointer

    &:hover
      color $dark-grey

  &--small
    font-size 12px
    height 16px

  &--text
    padding-left 0
    padding-right 0
    height auto
    background none
    color $mild-grey

  &--brand
    color $brand

  &--outline
    background white
    border 1px solid $border-color
    color $dark-grey
    displat inline-flex
    align-items center

  .vi-icon
    margin-right 4px
    width 10px
    height 10px

    &--right
      margin-right 0
      margin-left 4px
