@import '../main.styl'

// the minimum width between 2 column
$gap = 24px

.vi-table
  font-size 14px

  &__head
    display flex
    font-size 14px
    color $mild-grey
    background $bg-color
    padding 12px 24px 12px
    margin 0

    .vi-table__sort-icon
      margin-left 4px
      cursor pointer

    .vi-table__col
      // TODO verify
      // it MUST not be overflow hidden for header col
      // as there might be dropdown
      overflow initial !important

  &__body
    margin 0

  &__row
    display flex
    background white
    padding 14px 24px
    border-bottom 1px solid $border-color

    &--link
      cursor pointer
      transition all $transition

      &:hover
        background #049ae524

  &__col
    display flex
    align-items center
    justify-content center
    line-height 1.2
    flex-shrink 0 // so that won't be collapsed in small screen from the expansion of flex 1 column

    +not-last()
      margin-right $gap

    &:first-child
      justify-content flex-start

    .text
      line-height 1.2
      text-align center

    &--sortable
      .text
        max-width calc(100% - 24px)
        padding-right 2px

  &__no-data
    display flex
    justify-content center
    padding 40px

.vi-data-table__no-data
  display flex
  justify-content center
  padding 40px

.vi-table__clear
  font-size 12px
  text-transform: uppercase
  color $light-grey
  border-bottom 1px solid currentColor
  cursor pointer
  margin-left 6px
  line-height 1.2
  position relative
  top 2px

  &:hover
    color $brand
