<md-dialog class="event-form-dialog" aria-label="New Message">
  <form name="eventForm" class="md-inline-form" novalidate>
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Import Users</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout="row">
        <md-checkbox name="dump" disabled ng-checked="true">
          Clean and Import Users
        </md-checkbox>
      </div>


      <div layout="row">
        <div layout="column" flex="50" id="file-uploader-student"
             flow-init="vm.ngFlowOptions.student"
             flow-name="vm.ngFlow.student.flow"
             flow-file-added="vm.fileAdded($file, 'student')"
             flow-file-success="vm.fileSuccess($file, $message, 'student')"
             flow-file-error="vm.fileError($file, $message, 'student')"
             flow-complete="vm.uploadComplete('student')">

          <md-button style="background-color: green; color: white" class="md-raised file-input" flow-attrs="{accept:'.csv, .xls, .xlsx'}" flow-btn id="file-input-student">
            <label>Select file to upload *Students*</label>
          </md-button>
          <div style="padding: 20px">
            <div ng-if="vm.files.student">
              <i class="icon-file-excel">{{vm.files.student.file.name}}</i>
            </div>
            <div ng-if="vm.errors.student" style="color: red">
              {{vm.errors.student}}
            </div>
          </div>

        </div>


        <div layout="column" flex="50" id="file-uploader-teacher" ng-if="!isOfRoles(['Teacher'])"
             flow-init="vm.ngFlowOptions.teacher"
             flow-name="vm.ngFlow.teacher.flow"
             flow-file-added="vm.fileAdded($file, 'teacher')"
             flow-file-success="vm.fileSuccess($file, $message, 'teacher')"
             flow-file-error="vm.fileError($file, $message, 'teacher')"
             flow-complete="vm.uploadComplete('teacher')">

          <md-button style="background-color: red; color: white" class="md-raised file-input" flow-attrs="{accept:'.csv, .xls, .xlsx'}" flow-btn id="file-input-teacher">
            <label>Select file to upload *Teacher*</label>
          </md-button>
          <div style="padding: 20px">
            <div ng-if="vm.files.teacher">
              <i class="icon-file-excel">{{vm.files.teacher.file.name}}</i>
            </div>
            <div ng-if="vm.errors.teacher" style="color: red">
              {{vm.errors.teacher}}
            </div>
          </div>

        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <div layout="row" layout-align="end center" style="width: 100%">
        <div>
          <md-button ng-click="vm.upload()" class="save-button md-accent md-raised" aria-label="SAVE"
                     ng-disabled="eventForm.$invalid">
            Confirm
          </md-button>
        </div>
        <div>
          <md-button ng-click="vm.closeDialog()" class="save-button md-raised">
            CANCEL
          </md-button>
        </div>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
