.teaching-progress-detail-form-container {
  padding: 24px;
}

.teaching-progress-content {
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    background: #FFF;
    font-size: 13px;

    input {
      padding-left: 12px;
      height: 36px;
      color: rgba(0,0,0,.54);
    }
  }
  .md-toolbar-tools {
    padding-left: 0;
  }

  md-input-container {
    md-select {
      margin-right: 0;
      background-color: white;
      max-width: 200px;
      padding: 3px 10px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
  }

  md-select {
    margin-right: 0;
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .layout-wrap {
    padding: 24px;
  }
}
