<div
  class="doc-page ehla-blue-bg material-docs layout-docs doc-template page-layout simple tabbed ng-scope layout-column"
  layout="column">

  <div ncy-breadcrumb></div>

  <!-- HEADER -->
  <div class="header md-accent-bg" layout="row" layout-align="start center">
    <div class="white-fg" layout="row" layout-align="start center" flex>
      <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
          <div class="h2">
            Teaching Progress Update
          </div>
        </div>
      </div>
    </div>

    <div>
      <md-button class="md-raised md-accent md-background" ng-click="update()" ng-disabled="loading">
        <span>Save</span>
      </md-button>
      <md-button class="md-raised md-background" ng-click="back()">
        <span>Cancel</span>
      </md-button>
    </div>
  </div>
  <!-- / HEADER -->

  <div class="content teaching-progress-content">
    <div class="widget-group layout-wrap ng-scope layout-row flex-100" layout="row" flex="100" layout-wrap="">
      <div class="content-card" layout="column" flex>

        <!-- CONTENT TOOLBAR -->
        <div class="toolbar" layout="row" layout-align="space-between center">

          <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <div class="search-wrapper md-whiteframe-1dp layout-align-start-center layout-row flex" layout="row"
                 layout-align="start center" flex="">
              <div class="search layout-align-start-center layout-row flex" flex="" layout="row"
                   layout-align="start center">
                <md-icon md-font-icon="icon-magnify"
                         class="icon s18 md-default-theme md-font material-icons icon-magnify"
                         aria-hidden="true"></md-icon>
                <input flex="" ng-model="vm.topicsSearch" type="text" placeholder="Search or start new chat"
                       translate="" translate-attr-placeholder="Search"
                       ng-keyup="applyFilter()"
                       class="ng-pristine ng-valid ng-scope flex ng-empty ng-touched" aria-invalid="false" style="">
              </div>
            </div>
          </div>

          <md-input-container>
            <md-select ng-model="vm.selectedCategories"
                       ng-change="applyFilter()"
                       multiple>
              <md-optgroup label="Categories">
                <md-option ng-value="-1">All Categories</md-option>
                <md-option ng-value="category.id" ng-repeat="category in vm.categories">{{category.name_en || category.name_zh}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>


          <div layout="row" layout-align="start center">
            <md-select class="simplified" ng-model="vm.statusFilter" placeholder="All Status"
                       ng-change="applyFilter()">
              <md-option value="all" translate="All Status">All Status</md-option>
              <md-option value="checked" translate="Checked">Checked</md-option>
              <md-option value="unchecked" translate="Unchecked">Unchecked</md-option>
            </md-select>
          </div>

        </div>
        <!-- / CONTENT TOOLBAR -->
        <div class="content" layout="row" flex
             ng-include="'app/main/homework/subjects/assignment/classes/class/teaching-progress/templates/topics-selection.html'"></div>

        </div>
      </div>
  </div>
</div>
