<div class="md-background-bg md-whiteframe-1dp ehla-table-list-wrapper ehla-table-list-undragable" style="width:100%">
    <div>
        <ul class="ehla-table-list ehla-table-list-header">
            <li style="width: 50%">
                <a class="btn btn-xs"
                   data-nodrag
                   ng-click="toggleExpandAll()">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': isAllExpanded() !== 2,
                                          'icon-minus': isAllExpanded() === 2
                                          }">
                                      </span>
                </a>
                <span>Learning Point</span>
            </li>
            <li style="width: 25%;">
                <span>School Tailored Level</span>
            </li>
            <li style="width: 25%; text-align: center">
                <span>School Tailored Video Level</span>
            </li>
        </ul>
    </div>
    <div ng-show="!vm.data.length && loading" class="ehla-table-empty">Loading</div>
    <div ng-show="!vm.data.length && !loading" class="ehla-table-empty">No Data</div>
    <div ui-tree="treeOptions"
         ui-tree-nodes
         data-drag-enabled="false"
         ng-model="vm.data">
        <div ng-repeat="node in vm.data"
             ui-tree-node
             ng-hide="!node._visible_"
             ng-include="'nodes_renderer'">
        </div>
    </div>
</div>
</div>
<script type="text/ng-template" id="nodes_renderer">
    <ul class="ehla-table-list" ui-tree-handle>
        <li style="width: 50%">
            <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                <a class="btn btn-xs" ng-if="node.child && node.child.length > 0"
                   data-nodrag
                   ng-click="toggleExpand(node)">
                                      <span class="icon s20" ng-class="{
                                          'icon-plus': !expanded[node.id],
                                          'icon-minus': expanded[node.id]
                                          }">
                                      </span>
                </a>
                <a class="btn btn-xs ng-scope" style="visibility: hidden"
                   ng-if="!node.child || !node.child.length">
                                            <span class="icon icon-plus">
                                      </span></a>
                <span>{{ node.name_en || node.name_zh }}</span>
            </div>
        </li>
        <li style="width: 25%;" class="ehla-question-input">
            <md-select ng-model="node.custom_level" placeholder="Select Levels" style="margin: 5px 10px 5px 0"
                       ng-if="!node.child.length"
                       multiple>
                <md-optgroup label="Levels">
                    <md-option ng-value="level.id" ng-repeat="level in vm.levels">{{level.name_en}}</md-option>
                </md-optgroup>
            </md-select>
        </li>
        <li style="width: 25%; text-align: center">
            <div ng-if="node.child.length === 0">
                <span ng-click="vm.selectVideo($event, node)" style="cursor: pointer">
                    <md-icon md-font-icon="icon-video"
                             class="icon s18 md-default-theme md-font material-icons"
                             aria-hidden="true"></md-icon>
                <span>Assign Video Levels</span>

                </span>

            </div>


        </li>

    </ul>
    <div ng-if="node.child && node.child.length > 0 && expanded.hasOwnProperty(node.id)"
         ng-show="expanded[node.id]"
         ui-tree-nodes=""
         ng-model="node.child"
         style="background: white; "
    >
        <div ng-repeat="node in node.child"
             ui-tree-node
             ng-hide="!node._visible_"
             ng-include="'nodes_renderer'"></div>
    </div>

</script>
