.vi-dialog
  box-shadow $box-shadow-2
  border-radius: $border-radius
  margin: 60px 24px
  overflow-y: auto
  pointer-events: auto
  transition: .3s ease-in-out
  width: 100%
  z-index: inherit
  background white

  &__activator
    input[readonly]
      cursor: pointer !important

  &__content
    align-items: flex-start
    display: flex
    height: 100%
    justify-content: center
    left: 0
    pointer-events: none
    position: fixed
    top: 0
    transition: .3s ease-in-out
    width: 100%
    z-index: 6
    outline: none

    @media screen and ( min-height: 750px) {
      align-items center
    }

  &:not(.v-dialog--fullscreen)
    max-height: 90%

  &__container
    display: inline-block
    vertical-align: middle

  &--fullscreen
    margin 0
    height 100%
    position fixed
    overflow-y: auto
    top: 0
    left 0

    > .v-card
      min-height 100%
      min-width 100%
      margin 0 !important
      padding 0 !important

  &__header
    display flex
    align-items center
    padding 16px
    min-height 48px
    font-size 20px
    border-bottom 1px solid $border-color

    b
      padding 0 0.2em
      color #2a739b

  &__footer
    border-top 1px solid $border-color
    display flex
    align-items center
    justify-content center
    min-height 40px
    padding 16px

  &__body
    padding 24px

  &--scrollable
    display: flex

    .vi-dialog__main
      display: flex
      flex: 1 1 auto
      flex-direction: column

    .vi-dialog__body
      flex 1 0 auto
      overflow-y auto
      height 100%

.vi-dialog
  &__title
    font-size 20px
    line-height 1.2
    color $font-color-3
    font-weight bold
    text-transform uppercase

    &:not(:last-child)
      margin-bottom 24px
